<div th:fragment="top" xmlns:sec="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <div style="width: 100%; height: 40px;">

            <div style="float: left; width: 80px; ">
                <a class="navbar-brand" href="/">Home</a>
            </div>

            <div sec:authorize="isAnonymous()">
                <div style="float: left; width: 150px; ">
                    <a class="navbar-brand" href="/user/login">Authorization</a>
                </div>
                <div style="float: left; width: 100px; ">
                    <a class="navbar-brand" href="/user/reg">Registration</a>
                </div>
            </div>

            <div sec:authorize="isAuthenticated()">

                <div style="float: left; width: 120px; ">
                    <a class="navbar-brand" href="/calc">Calculator</a>
                </div>
                <div style="float: left; width: 100px;">
                    <a class="navbar-brand" href="/calc/history">History</a>
                </div>
                <div style="float: left; width: 100px; ">
                    <form class="navbar-brand" th:action="@{/logout}" method="post">
                        <button>Logout</button>
                    </form>
                </div>

                <!--                <a class="navbar-brand" th:href="@{'/user/' + ${session.user.getId()}}">Profile</a>-->
            </div>

        </div>


    </nav>
</div>