<div th:fragment="top">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Home</a>
        <td>

            <div th:unless="${session.user}">
                <a class="navbar-brand" href="/user/login">Authorization</a>
                <a class="navbar-brand" href="/user/reg">Registration</a>
            </div>

            <div th:if="${session.user}">
                <a class="navbar-brand" href="/calc">Calculator</a>
                <a class="navbar-brand" href="/calc/history">History</a>
                <a class="navbar-brand" th:href="@{'/user/' + ${session.user.getId()}}">Profile</a>
                <a class="navbar-brand" href="/user/logout">Logout</a>
            </div>

        </td>
    </nav>
</div>