<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <div th:insert="fragment/bootstrap :: cdncss"></div>
</head>
<body>
<div th:insert="fragment/menu :: top"></div>

<div th:if="${param.error}" class="alert alert-danger">
    Invalid username or password.
</div>

<form th:action="@{/user/login}" method="post">
    <input type="text" name="username" placeholder="Username">
    <br/>
    <input type="text" name="password" placeholder="Password">
    <br/>
    <button>Submit</button>
</form>


</body>
</html>