<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <div th:insert="fragment/bootstrap :: cdncss"></div>
</head>
<body>
<div th:insert="fragment/menu :: top"></div>
<div th:if="${msgerror}">
    <p style="color:red" th:text="${msgerror}">invalid user</p>
</div>

<form th:method="POST" th:action="@{/user/login}" th:object="${user}">
    <div>
        <label for="name">Name</label>
        <input type="text" th:field="*{name}" id="name"/>
        <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name error</div>

        <br/>

        <label for="password">Password</label>
        <input type="text" th:field="*{password}" id="password">
        <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password error</div>

<!--        <br/>-->

<!--        <label for="email">Email</label>-->
<!--        <input type="text" th:field="*{email}" id="email">-->
<!--        <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email error</div>-->

        <br/>

        <input type="submit" value="Login">
    </div>
</form>

</body>
</html>