<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
    <div th:insert="fragment/bootstrap :: cdncss"></div>
</head>
<body>
<div th:insert="fragment/menu :: top"></div>
<div th:if="${msgerror}">
    <p style="color:red" th:text="${msgerror}">user exists</p>
</div>

<form th:method="POST" th:action="@{/user/reg}" th:object="${user}">
    <div>
        <label for="name">Name</label>
        <input type="text" th:field="*{name}" id="name"/>
        <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name error</div>

        <br/>

        <label for="username">Username</label>
        <input type="text" th:field="*{username}" id="username"/>
        <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">username error</div>

        <br/>

        <label for="password">Password</label>
        <input type="text" th:field="*{password}" id="password">
        <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password error</div>

        <br/>

        <label for="email">Email</label>
        <input type="text" th:field="*{email}" id="email">
        <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email error</div>

        <br/>

        <input type="submit" value="Add User">
    </div>
</form>

</body>
</html>