<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User page</title>
    <div th:insert="fragment/bootstrap :: cdncss"></div>
</head>
<body>
<div th:insert="fragment/menu :: top"></div>

User ID:  <td th:text="${user.getId()}">User ID</td> <br/>
User name: <td th:text="${user.getName()}">User Name</td> <br/>
User password:  <td th:text="${user.getPassword()}">User Password</td> <br/>
User e-mail: <td th:text="${user.getEmail()}">User E-mail</td>

<br/>
<!--<a th:href="@{/user/{id}/edit(id=${user.getId()})}">Edit user</a>-->

<form th:method="GET" th:action="@{/user/{id}/edit(id=${user.getId()})}">
    <input type="submit" value="Edit user">
</form>

<form th:method="DELETE" th:action="@{/user/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete">
</form>
</body>
</html>